
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    margin: auto;
    font-size: 18px;
}

header {
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-left: 100px;
    margin-bottom: 10px;
    color: #333;
    background: #ebebeb;
    width: 495px;
}

#nav{
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ebebeb;
    width: 495px;
}

#section {
    float: left;
    padding: 40px;
    margin-bottom: 20px;
    height: 300px;
    background: #ebebeb;
    width: 57%;
}

#article {
    position: relative;
    left: -15px;
    top: 30px;
    padding: 40px;
    align-self: center;
    color: #ebebeb;
    background: #777;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 200px;
    width: 495px;
}

#hs {
    position: relative;
    left: 0px;
    top: 30px;
    font-weight: bold;
    color: #777;
    background: #ebebeb;
    padding: 15px;
    margin-bottom: 10px;
    width: 475px;
    
}

#p {
    position: relative;
    left: 0px;
    top: 30px;
    color: #777;
    background: #ebebeb;
    padding: 15px;
    width: 475px;
}

#aside {
    float: right;
    padding: 40px;
    height: 300px;
    margin-bottom: 20px;
    background: #ebebeb;
    width: 41%;
}

footer {
    clear: both;
    padding: 20px;
    margin-bottom: 20px;
    background: #ebebeb;
}
